/*Modificando las Fuentes del Bootstrap */

$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;

body {
    background-image: url(../assets/bg-09-free-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
}

nav img {
    width: 200px;
}

.servicios {
    background-image: url(../assets/bg-001-free-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.transformScale{
    transition: 1s;
    transform: scale(1);
}
.transformScale:hover {
    transition: 1s;
    transform: scale(1.025);
}

footer{
    background-image: url(../assets/bg-001-free-img.png);
    background-repeat: no-repeat;
}

.container .card-Blur {
    position: relative;
    height: 510px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.container .card-Blur h1 {
    position: absolute;
    top: -25px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    filter: blur(2px);
}

.container .card-Blur p {
    z-index: 1;
}



/*Modificando Fondos de las Cards*/
@for $i from 1 through 3 {
    .fondo#{$i} { background-image: url(../assets/T#{$i}.jpg); }
}

/*Ajustando Altura para tarjeta en pantalla pequeña 768*/
@media (min-width: 768px) {
    .alto-100 {
        height: 100vh;
    }  
}

/*Importacion de Estilos de Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

